absl-py==2.3.0
altgraph==0.17.5
annotated-types==0.7.0
asgiref==3.8.1
astroid==4.0.4
astunparse==1.6.3
attrs==25.3.0
backports.tarfile==1.2.0
blis==1.3.0
bottle==0.13.4
build==1.4.2
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cleantext==1.1.4
click==8.1.8
cloudpathlib==0.21.1
colorama==0.4.6
confection==0.1.5
cryptography==41.0.7
cymem==2.0.11
dill==0.4.1
Django==4.2.20
django-allauth==65.7.0
django-stubs==6.0.6
django-stubs-ext==6.0.6
docutils==0.22.4
docx2txt==0.9
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
filelock==3.18.0
flatbuffers==25.2.10
fsspec==2025.5.1
gast==0.4.0
google-auth==2.40.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.72.1
gunicorn==23.0.0
h5py==3.14.0
hf-xet==1.4.3
huggingface-hub==0.32.4
id==1.6.1
idna==3.10
importlib_metadata==8.7.0
isort==8.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
keras==3.10.0
keyring==25.7.0
langcodes==3.5.0
language_data==1.3.0
libclang==18.1.1
macholib==1.16.4
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
ml_dtypes==0.5.1
more-itertools==11.0.2
mpmath==1.3.0
murmurhash==1.0.13
namex==0.1.0
networkx==3.2.1
nh3==0.3.4
nltk==3.9.1
numpy==2.0.2
oauthlib==3.2.2
opt_einsum==3.4.0
optree==0.16.0
packaging==25.0
pandas==2.2.3
pdfminer==20191125
pdfminer.six==20250416
pillow==11.2.1
plac==1.1.3
platformdirs==4.10.0
preshed==3.0.10
protobuf==5.29.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.1
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PyJWT==2.10.1
pylint==4.0.6
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
pypdf==5.4.0
pyproject_hooks==1.2.0
pyresparser==1.0.6
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
RapidFuzz==3.13.0
readme_renderer==44.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
rpds-py==0.26.0
rsa==4.9.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.13.1
sentence-transformers==4.1.0
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sortedcontainers==2.4.0
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.3
srsly==2.5.1
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.19.0
tensorflow-estimator==2.15.0
tensorflow-intel==0.0.1
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
textblob==0.19.0
tf_keras==2.19.0
thinc==8.3.6
threadpoolctl==3.6.0
tokenizers==0.21.1
tomli==2.4.1
tomlkit==0.15.0
torch==2.7.1
tqdm==4.67.1
transformers==4.52.4
twine==6.2.0
typer==0.16.0
types-PyYAML==6.0.12.20260518
typing-inspection==0.4.1
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.4.0
wasabi==0.10.1
weasel==0.4.1
Werkzeug==3.1.3
wrapt==1.17.2
zipp==3.22.0
