{% extends 'notes/base.html'%}
{% load static %}

    {% block title%}<title>Post a Job</title>{%endblock%}
    {%block extra_css%}<link rel="stylesheet" href="{% static 'job/css/job.css' %}">{%endblock%}


{%block content%}
    <div class="container mt-5">
        <div class="form-wrapper">
            <h2 class="job_h2">Post a Job</h2>
            <form method="POST" novalidate>
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {% if form.title.errors %}
                    <div class="text-danger">{{ form.title.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                    {% if form.description.errors %}
                    <div class="text-danger">{{ form.description.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.type.label_tag }}
                    {{ form.type }}
                    {% if form.type.errors %}
                    <div class="text-danger">{{ form.type.errors }}</div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{%endblock%}