{% extends "./base.html" %}
{% load static %}

{% block title %}Resume Enhancer{% endblock %}

{% block heading %}
<h1>Add Your Resume</h1>
{% endblock %}

{% block content %}
<div class="resume-form">

    <section class="hero">
        <div class="container">
            <h1>Upload. Store. Share.</h1>
            <p>Your all-in-one resume management dashboard</p>
            <div class="text-center">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#uploadForm"
                    aria-expanded="false" aria-controls="uploadForm">
                    Upload Your Resume
                </button>
            </div>
        </div>
    </section>
<!-- Button to Show Form -->

<!-- Collapsible Form -->
<div class="collapse mt-4" id="uploadForm">
    <div class="card card-body shadow-sm">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
</div>
{% endblock %}